* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #ffffff;
  --Right: #9acc37;
  --backcolor: #3272c5;
  --backtwo: #2887e0;
  --dull: #cbced1;
  --black: #000000;
}

body {
  font-family: Tahoma;
  font-size:large;
  width: 75%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.centered {
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: space-between;
  margin: 25px 0;
}


.start-quiz {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  color: var(--dull);
  border-top: 1px solid var(--black);
  padding-top: 20px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}

/* Buttons */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

button {
  font-family: Tahoma;
  border:navy;
  width: auto;
  overflow: visible;
  padding: 17px;
  background-color: var(--backcolor);
  border-radius: 10px;
  font-size: large;
  margin: 30px;
  color: var(--light);
  cursor: pointer;
}

button:hover {
  background-color: var(--backtwo);
}

.hide {
  display: none;
}

.btn.correct {
  background-color: var(--Right);
}

.btn.wrong {
  background-color: var(--dull);
}

/* Wrapper for buttons */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/* Enter your initial */
input[type="text"] {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid var(--dull);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Highscores Page */
.highscore {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.name-div,
.score-div {
  flex: 1 35%;
  padding: 10px 0;
  border: 1px solid var(--Right);
}
.scores a,
.timer {
  font-size: 20px;
}

.scores a {
  color: var(--backtwo);
  cursor: pointer;
}

.scores a:hover {
  color: var(--dull);
}
/*** MEDIA QUERY FOR MOBILE PHONES AND SMALLER ***/
/* this will be applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {
  .btn-grid {
    grid-template-columns: repeat(1, auto);
    gap: 0;
    margin: 0;
  }
}